.filmes {
    margin-top: 56px;

    &__titulos {
        ul {
            display: flex;
            justify-content: space-around;          
            margin-bottom: 56px;
            
            li {
                cursor: pointer;
                font-size: 1.3em;
            }
        }
    }

    &__content {

        img {
            max-width: 100%;
            height: 190px;
        }

        &__grid {
            display: flex;
            justify-content: space-around;
        }

        #filmesMeuMalvadoFavorito {
            display: none;
        }
    }
}