.historia {

    img {
        width: 100%;
        margin-bottom: 24px;
        border-radius: 8px;
    }

    .strong {
        color: #F7EB97;
    }
}

@media (min-width: 992px){
    .historia__grid {
        display: grid;
        grid-template-columns: 50% 45%;
        gap: 5%;
    }
}