@use 'header';
@use 'historia';
@use 'filmes';
@use 'assistir_elenco';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #695378;
}

section {
    width: 80%;
    margin: auto;
}

.titulo {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-size: 3em;
    margin: 56px 0 32px;
    color: #F7D497;

    @media (min-width: 768px){
        font-size: 4em;
    }
}

.button {
    display: block;
    text-align: center;
    background-color: #F7EB97;
    color: #695378;
    padding: 8px 16px;
    margin: 30px 0;
    border-radius: 5px;
    font-size: 1.5em;
    transition: .5s;
    font-family: 'Baloo Bhaijaan 2', sans-serif;

    &:hover {
        letter-spacing: 1px;
    }
}

.txt-secundario {
    color: #F7EB97;
    margin-top: 8px;
    
    @media (min-width: 768px){
        margin-top: 16px;
    }
}


.is-active {
    border-bottom: 3px solid #fff;
    padding-bottom: 8px;
}

.material-symbols-outlined {
    cursor: pointer;
}


::-webkit-scrollbar {
    background-color: #D097F7;
    border-radius: 8px;        
}

::-webkit-scrollbar-thumb {
    background-color: #F7D497;
    border-radius: 8px;
}

@media (min-width: 768px){
    .texto {
        font-size: 1.5em;
    }
}

